@font-face {
  font: {
    family: Cormorant;
    weight: 300;
    style: normal;
  };
  src: url('../assets/fonts/cormorant_light.woff2') format('woff2');
}

@font-face {
  font: {
    family: Cormorant;
    weight: 400;
    style: normal;
  };
  src: url('../assets/fonts/cormorant_regular.woff2') format('woff2');
}

@font-face {
  font: {
    family: Oswald;
    weight: 300;
    style: normal;
  };
  src: url('../assets/fonts/oswald_light.woff2') format('woff2');
}

@font-face {
  font: {
    family: Oswald;
    weight: 400;
    style: normal;
  };
  src: url('../assets/fonts/oswald_regular.woff2') format('woff2');
}

@font-face {
  font: {
    family: Oswald;
    weight: 700;
    style: normal;
  };
  src: url('../assets/fonts/oswald_bold.woff2') format('woff2');
}
