* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

button {
  font: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

svg,
img {
  display: flex;
}