$primary-bg-color: #040A0A;
$primary-color: #43FFD2;
$primary-text-color: #FFF;
$secondary-color: #7D2253;
$secondary-text-color: #D978AC;
$secondary-bg-color: #000;

$text-xs: 0.625rem; // 10px
$text-sm: 0.75rem; // 12px
$text-lg: 0.875rem; // 14px

$text-base: 1.25rem; // 20px

$transition-duration: 0.3s;
$timing-function: ease-in-out;